.main-chat-container {
  width: 100%;
  height: calc(100vh - 69px);
  background-color: white;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#f2f2f2;
    margin-left: 100px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 100px;
  }
  
 
