.header {
  width: calc(100vw - 69px);
  height: 69px;
  background-color: white;
  /* box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%); */
  display: flex;
  flex-direction: row;
  position: fixed;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-bottom-color: #8C97AC50;
}

.TitleView {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  /* background-color: red; */
}

.TitleView span {
  font-size: 20px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
}

.SearchView {
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RightView {
  width: 30%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 15px;
}

.SearchInputView {
  width: 370px;
  height: 39px;
  background-color: #f1f3fa;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.SearchIcon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.profileView {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  justify-content: space-evenly;
  /* padding-inline: 10px; */
}

.profile {
  width: 35px;
  height: 35px;
  background-color: darkorchid;
  border-radius: 100px;
  margin-right: 6px;
}

.profileDetailView {
  min-width: 150px;
  max-width: 150px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: yellow; */
  font-size: 15px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 100;
  color: darkslategray;
  text-overflow: ellipsis;
}

.alert {
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.setting {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BackBtn{
  width: 37px;
  height: 37px;
  background-color: #8c97ac2f;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
