@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Main-Div {
  width: 100%;
  height: 100vh;
  outline: none;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: 0;
}

.split-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: all 5s ease-out;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  margin-left: -5px;
  z-index: 100;
  transition: all 0.1s ease-in-out;
}

.gutter.gutter-horizontal:hover {
  background-color: #1389fd;
  transition: all 0.1s ease-in-out;
}

.gutter.gutter-horizontal:active {
  background-color: #1389fd;
  transition: all 0.1s ease-in-out;
}

.Inside-Div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 69px;
}

.Middle-Div {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-style: solid;
  border-width: 0px 0px 0px 0.5px;
  border-left-color: #8c97ac83;
  background-color: white;
}

.Header_Top {
  color: "#505563";
}

.tr {
  height: 46px;
  max-height: 46px;
  opacity: 1;
  background-color: white;
}

.tropacity {
  opacity: 0;
}

.tr .th {
  color: #506d85;
  font-size: 15px;
  font-weight: 500;
  /* overflow: hidden; */
  min-height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1fcf8;
  padding-block-start: 50px;
}

/* .tr:hover {
  background-color:#19CA820F
} */
.td:hover {
  box-shadow: inset 0 0 0 1.5px #66afe9;
}

.td {
  overflow: scroll;
  min-height: 46px;
}

.CellInput {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  outline: none;
  font-size: 15px;
  font-family: Poppins;
  color: #2c385c;
  height: 100%;
}

.table {
  font-size: 15px;
  font-family: Poppins;
}

.checkboxselect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkboxselect input {
  width: 16px;
  height: 16px;
  border-radius: 10px;
}

button {
  width: 100px;
  outline: 0;
  background-color: transparent;
  color: red;
  overflow: hidden;
  border: 0;
}

.ResultUtilityTopBar {
  width: inherit;
  height: 49px;
  z-index: 100;
  position: fixed;
  background-color: white;
  float: inline-start;
  top: 69px;
  display: flex;
  flex-direction: row;
  border: 1px solid #e2e5ea;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  /* justify-content: space-between; */
}

.LeftDiv {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  padding-inline: 10px;
}

.GroupView {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.GroupView p {
  font-size: 22px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  cursor: default;
}

.SearchGroupView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
}

.SearchGroupInputView {
  width: 100%;
  height: 39px;
  background-color: #f1f3fa;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.SearchGroupIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.GroupListView {
  width: 100%;
  height: calc(100% - 69px - 39px);
  /* background-color: red; */
  padding-block: 15px;
  overflow-y: scroll;
  /* overflow: scroll; */
}

.GroupParentView {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  transition: all 0.1s ease-out;
}

.GroupParentView p {
  font-size: 15px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  margin-left: 10px;
  cursor: default;
}

.GroupParentViewInside {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  display: flex;
  align-items: center;
}

.GroupParentViewInside:hover {
  background-color: #0076fe1a;
}

.GroupChildView {
  width: 100%;
  min-height: 31px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.GroupChildView:hover {
  background-color: #0076fe1a;
}

.GroupChildView p {
  font-size: 15px;
  color: #506d85;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 0;
  margin-left: 70px;
}

.SearchUserInputView {
  width: 400px;
  height: 39px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.SearchUserIcon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchUserInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.RightDiv {
  width: 50%;
  height: 100%;
  display: flex;
  /* background-color: yellowgreen; */
  flex-direction: row;
  align-items: center;
  padding-inline: 10px;
  justify-content: flex-end;
}

.SideBarbtn {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.SideBarbtn:active {
  box-shadow: 0px 0px 2px 2px #0475fc;
  transition: 0.1s ease-in-out;
}

.SideBarbtn:hover {
  background-color: #e2e5ea44;
  transition: 0.1s ease-in-out;
}

.FilterRowBtn {
  color: #66749f;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: bold;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

.FilterRowBtn:hover {
  background-color: #f0f1f3;
  transition: 0.1s ease-in-out;
}

.FilterRowBtn:active {
  background-color: #e2e5ea;
  transition: 0.1s ease-in-out;
}

.SortRowBtn {
  color: #66749f;
  height: 30px;
  width: 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: bold;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

.SortRowBtn:hover {
  background-color: #f0f1f3;
  transition: 0.1s ease-in-out;
}

.SortRowBtn:active {
  background-color: #e2e5ea;
  transition: 0.1s ease-in-out;
}

.InsertRowBtn {
  color: white;
  height: 30px;
  width: 122px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #19ca82;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

.InsertRowBtn:hover {
  background-color: #06c377;
  transition: 0.1s ease-in-out;
}

.InsertRowBtn:active {
  background-color: #12bc77;
  transition: 0.1s ease-in-out;
}

.InsertColumnBtn {
  color: #66749f;
  height: 30px;
  width: 122px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: bold;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.InsertColumnBtn:hover {
  background-color: #f0f1f3;
  transition: 0.1s ease-in-out;
}

.InsertColumnBtn:active {
  background-color: #e2e5ea;
  transition: 0.1s ease-in-out;
}

.ShareMarksBtn {
  color: #0069ff;
  height: 38px;
  width: 107px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: bold;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  background-color: #e0edfe;
  margin-right: 60px;
}

.ShareMarksBtn:hover {
  background-color: #0069ff;
  color: white;
  transition: 0.1s ease-in-out;
}

.ShareMarksBtn:active {
  background-color: #0069ffcc;
  color: white;
  transition: 0.1s ease-in-out;
}

.InsertDrawer {
  width: 450px;
  height: 100%;
  background-color: white;
}

.LoadingFiles {
  font-size: 22px;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
}

.SideBarTitleView {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  font-size: 19px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
}

.RowInsertDrawer{
  width: 450px;
  height: 100%;
  background-color: white;
}

.RowInsertDrawer .SearchDiv {
  width: 100%;
  height: 65px;
  /* background-color: #12bc77; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 20px;
  font-size: 19px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
}

.RowInsertDrawer .ListDiv {
  width: 100%;
  height: calc(100% - 65px - 65px - 65px);
  padding-inline: 20px;
  font-size: 19px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
  overflow-y: scroll;
}


.RowInsertDrawer .BottomDiv {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 20px;
  font-size: 19px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
}

.RowInsertDrawer .SearchBarView {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.RowInsertDrawer .SearchGroupInput {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.RowInsertDrawer .SearchGroupInputView {
  width: 95%;
  height: 39px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  border: 1px solid #dfe1e6;
}

.RowInsertDrawer .SearchGroupIcon {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.RowInsertDrawer .SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: "Poppins";
  color: #506d85;
}

.RowInsertDrawer .ImportAllBtn {
  width: 120px;
  height: 39px;
  background-color: #eaecf0;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.RowInsertDrawer .ImportAllBtn p {
  color: #2C385C;
  cursor: pointer;
  font-size: 13px;
}

.RowInsertDrawer .CancelBtn {
  color: #2C385C;
  height: 37px;
  width: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eaecf0;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

.RowInsertDrawer .CancelBtn:hover {
  background-color: #d5d6d8;
  transition: 0.1s ease-in-out;
}

.RowInsertDrawer .CancelBtn:active {
  background-color: #eaecf0;
  transition: 0.1s ease-in-out;
}

.RowInsertDrawer .DoneBtn {
  color: white;
  height: 37px;
  width: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0069FF;
  border-radius: 4px;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

.RowInsertDrawer .DoneBtn:hover {
  background-color: #0244a0;
  transition: 0.1s ease-in-out;
}

.RowInsertDrawer .DoneBtn:active {
  background-color: #0069FF;
  transition: 0.1s ease-in-out;
}


.RowInsertDrawer .RowDiv {
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-inline: 5px;
  border-radius: 5px;
  transition: all 0.2s ease;


}

.RowInsertDrawer .RowDiv:hover {
 
  background-color: #656f7a13;
  transition: all 0.2s ease;

 
}

.RowInsertDrawer .ModalNotFoundDiv{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  font-family: "Poppins";
  text-transform: capitalize;
}

.RowInsertDrawer .NameDiv {
  width: 40%;
  min-height: 45px;
  margin-left: 5px;
  padding-top: 2px;
}

.RowInsertDrawer .Name {
  font-size: 15px;
  color: #0076fe;
  font-weight: bold;
  font-family: "Poppins";
  text-transform: capitalize;
}

.RowInsertDrawer .Contact {
  font-size: 12px;
  color: #90939a;
  font-weight: bold;
  font-family: "Poppins";
  text-transform: capitalize;
}

.RowInsertDrawer .BtnDiv {
  width: 20%;
  min-height: 40px;
  /* background-color: #5fdd70; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.RowInsertDrawer .Btn {
  width: 70px;
  height: 35px;
  color: #2f66fc;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins";
  border-radius: 5px;
  border: 2px solid #2f66fc;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.RowInsertDrawer .Btn:hover {
  background-color: #2f66fc15;
  transition: all 0.2s ease;
}



