@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Main-Div {
  width: 100%;
  height: 100vh;
  outline: none;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: 0;
}

.Inside-Div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 69px;
}
.Middle-Div {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.Header_Top {
  color: "#505563";
}



.tr .th {
  color: #506d85;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  min-height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #19ca820f;
  padding-block-start: 50px;
  
}


/* .tr:hover {
  background-color:#19CA820F
} */
.td:hover {
  box-shadow: inset 0 0 0 1.5px #66afe9;
}

.td {
  overflow: scroll;
  min-height: 46px;

}

.td input {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  outline: none;
  font-size: 15px;
  font-family: Poppins;
  color: #2C385C;
  height: 100%;
}

.table {
  font-size: 15px;
  font-family: Poppins;
}

