@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Main-Div {
  width: 100%;
  height: 100vh;
  outline: none;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: 0;
}

.Inside-Div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 69px;
}

.Left-Div {
  width: 286px;
  max-width: 286px;
  min-width: 286px;
  height: calc(100vh - 69px);
  background-color: white;
}

.Middle-Div {
  width: 100%;
  height: calc(100vh - 69px);
  background-color: white;
}

.UpperBar-Div {
  width: 100%;
  height: 69px;
  background-color: #f2f3f5;
  /* margin-top: 500px; */
}

.UpperBar-Left {
  width: calc(100% - 340px);
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  float: left;
  padding-left: 30px;
  padding-right: 15px;
}

.UpperBar-Left p {
  font-size: 15px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  margin-left: 10px;
  margin-top: 2px;
  cursor: default;
}

.UpperBar-Right {
  width: 340px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  justify-content: center;
}

.Main-Inside-Div {
  width: 100%;
  height: calc(100vh - 69px - 69px);
  display: flex;
  flex-direction: row;
  background-color: white;
}

.Container-Div {
  width: calc(100% - 340px);
  min-width: 1040px;
  height: 100%;
  background-color: #ebeff3;
  padding: 10px;
  overflow: hidden;
}

.ContainerTableDiv{
  background-color: white;
  width: 100% ;
  height: 100%;
  overflow-x:scroll;
}

.Right-Div {
  width: 340px;
  min-width: 340px;
  height: 100%;
  background-color: white;
}

.GroupView {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.GroupView p {
  font-size: 22px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  cursor: default;
}

.SearchGroupView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
}

.SearchGroupInputView {
  width: 100%;
  height: 39px;
  background-color: #f1f3fa;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.SearchGroupIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.GroupListView {
  width: 100%;
  height: calc(100% - 69px - 39px);
  /* background-color: red; */
  padding-block: 15px;
  overflow-y: scroll;
  /* overflow: scroll; */
}

.GroupParentView {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  transition: all 5s linear;
}

.GroupParentView p {
  font-size: 15px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  margin-left: 10px;
  cursor: default;
}

.GroupParentViewInside {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  display: flex;
  align-items: center;
}

.GroupParentViewInside:hover {
  background-color: #0076fe1a;
}

.GroupChildView {
  width: 100%;
  min-height: 31px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.GroupChildView:hover {
  background-color: #0076fe1a;
}

.GroupChildView p {
  font-size: 15px;
  color: #506d85;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 0;
  margin-left: 70px;
}

.SearchUserInputView {
  width: 400px;
  height: 39px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.SearchUserIcon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchUserInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.FilterBtn {
  width: 80px;
  height: 37px;
  background-color: #8a42ff;
  margin-left: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FilterBtn p {
  color: white;
  margin: 0 0 0 0;
  margin-right: 5px;
}

.AddTeacherBtn {
  width: 153px;
  height: 39px;
  background-color: #1f425d;
  margin-left: 25px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  padding-inline: 10px;
}

.AddTeacherBtn p {
  color: white;
}

.ImportBtn {
  width: 93px;
  height: 44px;
  background-color: #02ce7c;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ImportBtn p {
  color: white;
  margin: 0 0 0 0;
  margin-right: 5px;
}

.ExportBtn {
  width: 93px;
  height: 44px;
  background-color: #0069ff;
  margin-left: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ExportBtn p {
  color: white;
  margin: 0 0 0 0;
  margin-right: 5px;
}

.Table {
  width:100%;
  overflow: hidden;
  /* height: 100%; */
}

.TableHeader tr {
  width: 100%;
  height: 43px;
  background-color: #f2f3f5;
}

.TableHeader tr th {
  font-size: 15px;
  color: #506d85;
  font-family: "Poppins", "sans-serif";
  font-weight: 100;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-color: #8c97ac33;
}

.TableRow tr {
  font-size: 15px;
  color: #2c385c;
  font-family: "Poppins", "sans-serif";
  text-transform: capitalize;
  font-weight: 100;
  height: 43px;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-color: #8c97ac33;

}

.TableRow{
  overflow-y: scroll;
}

.RowNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RowNameCircle {
  width: 30px ;
  height: 30px;
  min-width: 30px ;
  min-height: 30px;
  background-color: #19ca82B3;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: "bold";
  color: white;
  font-family: "Poppins", "sans-serif";
  text-transform: capitalize;
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  margin-left: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0px;
}
