@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.People {
  width: 100%;
  height: 100vh;
  outline: none;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: 0;
}

.split-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: all 5s easeout;
  /* overflow: hidden; */
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  margin-left: -5px;
  z-index: 100;
  transition: all 0.1s easeout;
}

.gutter.gutter-horizontal:hover {
  background-color: #1389fd;
  transition: all 0.1s easeout;
}

.gutter.gutter-horizontal:active {
  background-color: #1389fd;
  transition: all 0.1s easeout;
}

.Inside-Div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 69px;
  overflow: hidden;
}

.People .LeftDiv {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  padding-inline: 10px;
}

.People .RightDiv {
  width: 50%;
  height: 100%;
  display: flex;
  /* background-color: yellowgreen; */
  flex-direction: row;
  align-items: center;
  padding-inline: 10px;
  justify-content: flex-end;
  position: relative;
}

.People .Middle-Div {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-style: solid;
  border-width: 0px 0px 0px 0.5px;
  border-left-color: #8c97ac83;
  background-color: #ebeff3;
}

.People .UpperBar-Div {
  width: inherit;
  height: 69px;
  z-index: 100;
  position: fixed;
  float: inline-start;
  top: 69px;
  display: flex;
  flex-direction: row;
  border: 1px solid #e2e5ea;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  background-color: #f2f3f5;
  /* margin-top: 500px; */
}

.People .UpperBar-Left {
  width: calc(100% - 340px);
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  float: left;
  padding-left: 30px;
  padding-right: 15px;
}

.People .UpperBar-Left p {
  font-size: 15px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  margin-left: 10px;
  margin-top: 2px;
  cursor: default;
}

.People .UpperBar-Right {
  width: 340px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  justify-content: center;
}

.People .Main-Inside-Div {
  width: 100%;
  height: calc(100vh - 69px - 69px);
  display: flex;
  flex-direction: row;
  background-color: white;
  transition: all 0.1s ease;
  margin-top: 69px;
}

.People .Container-Div {
  /* width: calc(100% - 340px); */
  min-width: 1040px;
  height: 100%;
  background-color: #ebeff3;
  padding: 10px;
  overflow: hidden;
  transition: all 0.1s ease;
}

.People .ContainerTableDiv {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  transition: all 0.1s ease;
}

.People .Right-Div {
  width: 340px;
  min-width: 340px;
  height: 100%;
  background-color: white;
  transition: all 0.1s ease;
}

.People .GroupView {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.People .GroupView p {
  font-size: 22px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  cursor: default;
}

.People .SearchGroupView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
}

.People .SearchGroupInputView {
  width: 100%;
  height: 39px;
  background-color: #f1f3fa;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.People .SearchGroupIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.People .SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.People .GroupListView {
  width: 100%;
  height: calc(100% - 69px - 39px);
  /* background-color: red; */
  padding-block: 15px;
  overflow-y: scroll;
  /* overflow: scroll; */
}

.People .GroupParentView {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  transition: all 0people 0.1s ease;
}

.People .GroupParentView p {
  font-size: 15px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  margin-left: 10px;
  cursor: default;
}

.People .GroupParentViewInside {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  display: flex;
  align-items: center;
}

.People .GroupParentViewInside:hover {
  background-color: #0076fe1a;
}

.People .GroupChildView {
  width: 100%;
  min-height: 31px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.People .GroupChildView:hover {
  background-color: #0076fe1a;
}

.People .GroupChildView p {
  font-size: 15px;
  color: #506d85;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 0;
  margin-left: 70px;
}

.People .SearchUserInputView {
  width: 400px;
  height: 39px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.People .SearchUserIcon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.People .SearchUserInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.People .FilterBtn {
  width: 80px;
  height: 37px;
  background-color: #8a42ff;
  margin-left: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.People .FilterBtn p {
  color: white;
  margin: 0 0 0 0;
  margin-right: 5px;
  cursor: pointer;
}

.People .AddTeacherBtn {
  width: 153px;
  height: 39px;
  background-color: #1f425d;
  margin-left: 25px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  padding-inline: 10px;
  cursor: pointer;
}

.People .AddTeacherBtn p {
  color: white;
  cursor: pointer;
}

.People .ImportBtn {
  width: 93px;
  height: 44px;
  background-color: #02ce7c;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.People .ImportBtn p {
  color: white;
  margin: 0 0 0 0;
  margin-right: 5px;
  cursor: pointer;
}

.People .ExportBtn {
  width: 93px;
  height: 44px;
  background-color: #0069ff;
  margin-left: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.People .ExportBtn p {
  color: white;
  margin: 0 0 0 0;
  margin-right: 5px;
  cursor: pointer;
}

.People .Table {
  width: 100%;
  overflow: hidden;
  /* height: 100%; */
}

.People .TableHeader tr {
  width: 100%;
  height: 43px;
  background-color: #f2f3f5;
}

.People .TableHeader tr th {
  font-size: 15px;
  color: #506d85;
  font-family: "Poppins", "sans-serif";
  font-weight: 100;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-color: #8c97ac33;
}

.People .TableRow tr {
  font-size: 15px;
  color: #2c385c;
  font-family: "Poppins", "sans-serif";
  text-transform: capitalize;
  font-weight: 100;
  height: 43px;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-color: #8c97ac33;
}

.People .TableRow tr:hover {
  background-color: #0475fc1a;
}

.People .TableRow tr:hover .RowNameDiv {
  color: #0475fc;
}

.People .TableRow {
  overflow-y: scroll;
}

.People .RowNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.People .RowNameCircle {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  background-color: #19ca82b3;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: "bold";
  color: white;
  font-family: "Poppins", "sans-serif";
  text-transform: capitalize;
  margin-right: 10px;
}

.People .TitleDiv {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.People .TitleDiv p {
  font-size: 19px;
  color: #506d85;
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

.People .FormDataView {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.People .AddDataForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  /* align-items: center; */
}

.People .InputView {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  outline: none !important;
  border: 1px solid #e5e8ed;
  padding: 16px;
  color: #031b4e;
  margin-bottom: 12px;
}

.People .ClassSectionView {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.People .ClassInputView {
  width: 48%;
  height: 48px;
  border-radius: 4px;
  outline: none !important;
  border: 1px solid #e5e8ed;
  padding: 16px;
  color: #031b4e;
  margin-bottom: 12px;
}

.People .ClassInputView:focus {
  outline: none !important;
  transition: all 0.1s linear;
  border: 2.2px solid #0368fc;
  padding: 15px;
}

.People .InputView:focus {
  outline: none !important;
  transition: all 0.1s linear;
  border: 2px solid #0368fc;
  padding: 15px;
}

.People .AddTeacherSaveBtnDiv {
  width: 340px;
  height: auto;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
}

.People .AddTeacherSaveBtn {
  width: calc(340px - 40px);
  height: 48px;
  border-radius: 4px;
  background-color: #0368fc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.People .AddTeacherSaveBtn p {
  font-size: 15px;
  font-family: "Poppins", "sans-serif";
  color: white;
  font-weight: bold;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  margin-left: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0px;
}
