@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Class {
  width: 100%;
  height: 100vh;
  outline: none;
}

.Class .Main-Div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 69px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-inline: 50px;
}

.Class .Container-Div {
  width: 100%;
  height: 100%;
  max-width: 2040px;
  overflow: hidden;
  margin-top: 20px;
  /* background-color: aqua; */
}

.Class .TitleDiv {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Class .Title {
  font-size: 25px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
}

.Class .UtilityDiv {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Class .InputDivLeft {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Class .InputDivRight {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Class .ImportBtnDiv {
  width: 90px;
  height: 39px;
  background-color: #5fdd70;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 100;
  font-family: "Poppins";
}

.Class .ExportBtnDiv {
  width: 90px;
  height: 39px;
  background-color: #0069ff;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 100;
  font-family: "Poppins";
  margin-left: 10px;
}

.Class .SearchGroupInputView {
  width: 198px;
  height: 39px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  border: 1px solid #dfe1e6;
}

.Class .SearchGroupIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Class .SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.Class .CreateClassBtnDiv {
  width: 120px;
  height: 39px;
  background-color: #0069ff;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 100;
  font-family: "Poppins";
  margin-left: 10px;
}

.Class .FilterBtnDiv {
  width: 80px;
  height: 39px;
  background-color: #edeced;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #64656a;
  font-size: 14px;
  font-weight: 100;
  font-family: "Poppins";
  margin-left: 10px;
}

.Class .TableDiv {
  width: 100%;
  height: calc(100% - 40px - 60px);
  background-color: white;
  padding-bottom: 50px;
  overflow: scroll;
}

.ClassModal {
  width: 520px;
  height: 455px;
  /* background-color: blue; */
  padding: 15px;
}

.TitleBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #333333;
  font-weight: 100;
  font-family: "Poppins";
}

.ModalCloseBtn {
  width: 50px;
  height: 50px;
  background-color: white !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 10px;
}

.FormView {
  width: 100%;
  height: 50%;
  padding-inline: 30px;
  padding-top: 20px;
}

.Input {
  font-size: 14px;
}

.form-label {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins";
}

.css-2b097c-container {
  border-radius: 4px;
}

.Modal-Button-Div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Modal-Button-Div Button {
  width: 100%;
  height: 44px;
  background-color: #2f66fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 40px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins";
}

.TeacherClassModal {
  width: 520px;
  height: 75vh;
  /* background-color: blue; */
  padding-inline: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.TeacherClassModal .TitleBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  color: #333333;
  font-weight: 100;
  font-family: "Poppins";
}

.TeacherClassModal .SearchBarView {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.TeacherClassModal .InputDiv {
  width: 600px;
  height: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TeacherClassModal .SearchGroupInputView {
  width: 98%;
  height: 39px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  border: 1px solid #dfe1e6;
}

.TeacherClassModal .SearchGroupIcon {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.TeacherClassModal .SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.TeacherClassModal .ListDiv {
  width: 100%;
  height: inherit;
  padding-left: 7px;
  overflow-y: scroll;
  /* background-color: #2f66fc; */
}

.TeacherClassModal .RowDiv {
  width: 100%;
  min-height: 45px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.TeacherClassModal .NameDiv {
  width: 40%;
  min-height: 45px;
}

.TeacherClassModal .Name {
  font-size: 15px;
  color: #0076fe;
  font-weight: bold;
  font-family: "Poppins";
  text-transform: capitalize;
}

.TeacherClassModal .Contact {
  font-size: 12px;
  color: #90939a;
  font-weight: bold;
  font-family: "Poppins";
  text-transform: capitalize;
}

.TeacherClassModal .BatchDiv {
  width: 40%;
  min-height: 45px;
  /* background-color: #2f66fc; */
}

.TeacherClassModal .BtnDiv {
  width: 20%;
  min-height: 45px;
  /* background-color: #5fdd70; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.TeacherClassModal .Btn {
  width: 70px;
  height: 40px;
  color: #2f66fc;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins";
  border-radius: 5px;
  border: 2px solid #2f66fc;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.TeacherClassModal .Btn:hover {
  background-color: #2f66fc15;
  transition: all 0.2s ease;
}
