.ResultSidebar {
  /* background-color: red; */
  width: 286px;
  height: 100%;
  overflow: hidden;
  text-transform: capitalize;
}

.ResultSidebar .GroupView {
  min-width: 286px;
  max-width: 286px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  /* background-color: #8a42ff; */
}

.ResultSidebar .GroupView p {
  font-size: 22px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  cursor: default;
}


.ResultSidebar .SearchGroupView {
  min-width: 286px;
  max-width: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-inline: 15px;
}




.ResultSidebar .SearchGroupInputView {
  width: 100%;
  height: 39px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  background-color: #F2F3F5;
}

.ResultSidebar .SearchGroupIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResultSidebar .SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.ResultSidebar .GroupListView {
  min-width: 286px;
  height: calc(100% - 69px - 39px);
  /* background-color: red; */
  padding-block: 15px;
  overflow-y: scroll;
  /* overflow: scroll; */
}

.ResultSidebar .GroupParentView {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  transition: all 0resultsidebar 0.1s ease-out;
}

.ResultSidebar .GroupParentView p {
  font-size: 15px;
  color: #506d85;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  margin-left: 10px;
  cursor: default;
}

.ResultSidebar .GroupParentViewInside {
  width: 100%;
  min-height: 31px;
  /* background-color: #0076FE1A; */
  overflow: auto;
  display: flex;
  align-items: center;
}

.ResultSidebar .GroupParentViewInside:hover {
  background-color: #0076fe1a;
}





.ResultSidebar .GroupChildView {
  width: 100%;
  min-height: 31px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.ResultSidebar .GroupChildView:hover {
  background-color: #0076fe1a;
}

.ResultSidebar .GroupChildView p {
  font-size: 15px;
  color: #506d85;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 0;
  margin-left: 70px;
}

.ResultSidebar .SearchUserInputView {
  width: 400px;
  height: 39px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.ResultSidebar .SearchUserIcon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResultSidebar .SearchUserInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.ResultSidebar .FilterBtn {
  width: 80px;
  height: 37px;
  background-color: #8a42ff;
  margin-left: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
