@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Classes {
  width: 100%;
  height: 100vh;
  outline: none;
}

.Classes .Main-Div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 69px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-inline: 50px;
}

.Classes .Container-Div {
  width: 100%;
  height: 100%;
  max-width: 2040px;
  overflow: hidden;
  margin-top: 40px;
  /* background-color: aqua; */
}

.Classes .TitleDiv {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Classes .Title {
  font-size: 25px;
  color: #506d85;
  font-weight: 100;
  font-family: "Poppins";
}

.Classes .UtilityDiv {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Classes .InputDiv {
  width: 600px;
  height: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Classes .SearchGroupInputView {
  width: 198px;
  height: 39px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  border: 1px solid #dfe1e6;
}

.Classes .SearchGroupIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Classes .SearchGroupInput {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  outline: none;
  font-weight: lighter;
  font-family: Poppins;
  color: #506d85;
}

.Classes .CreateClassBtnDiv {
  width: 120px;
  height: 39px;
  background-color: #0069ff;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 100;
  font-family: "Poppins";
  margin-left: 10px;
}

.Classes .TableDiv {
  width: 100%;
  height: calc(100% - 40px - 60px);
  background-color: white;
  padding-bottom: 50px;
  overflow: scroll;
}

.ClassModal{
    width: 520px ;
    height: 455px ;
    background-color: white ;
    padding: 15px;
}

.TitleBar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: #333333;
    font-weight: 100;
    font-family: "Poppins";
}